@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

body{
    padding: 0;
    margin: 0 auto;
    /* font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal; */
    background-color: var(--cor-4);
}

.container-main{
    max-width: 1500px;
}
/* You can add global styles to this file, and also import other style files */
:root {
    --cor-1: #fff;
    --cor-2: #0A3981;
    --cor-3: #ffa646;
    --cor-4: #042557;
    --cor-5:#3C217A;
}